<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/homepage.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans:wght@500&family=Economica:wght@700&family=Kanit:wght@500&family=Risque&family=Roboto+Slab:wght@800&family=Yusei+Magic&display=swap"
        rel="stylesheet">

    <title>DigvijayLibrary</title>
</head>

<body>



    <section class="navbar-div">
        <div class="social_media-div">
            <div>
                <a href="https://www.youtube.com/?gl=IN"><img src="../images/youtube.png" alt="" class="synbols"> </a>
                <a href="https://www.instagram.com/"><img src="../images/insta.jpg" alt="" class="synbols"> </a>
                <a href=""><img src="../images/gmail logo.png" alt="" class="synbols"> </a>
            </div>

        </div>
        <div class="nav-bar">
            <div class="logo">
                <img src="../images/Group 4 (1).png" alt="">
            </div>
            <div class="pages">
                <ul>


                    <li id="home_li"><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="" class="condition">Condition</a></li>
                    <div class="search">
                        <img src="../images/104-1043692_search-icon-transparent-white-search-icon-apple-png.png" alt=""
                            onclick="openFunction()">
                    </div>
                </ul>

            </div>
        </div>

    </section>


    <!-- -----------------------Baner  -->
    <section class="baner-background">
        <!-- <div> -->


        <div class="part1">
            <h2 id="title" class="type"> </h2>
            <p id="disc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                autem incidunt! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequuntur, officiis?</p>
        </div>

        <div class="part2">
            <img id="baner-img" src="../images/book-removebg-preview.png" alt="">
        </div>
        <!-- </div> -->
    </section>










    <!-- Courses Selection  -->
    <section class="baner-div" onmouseover="makeCircle()">

        <div class="baner-div-div" data-aos="fade-left">
            <div class="circle-heading">
                <h2>DEPARTMENTS</h2>
            </div>

            <div class="center-div">

                <div id="other-circle">

                </div>
                <div id="other-circle1">

                </div>
                <div id="other-circle2">

                </div>
                <div id="other-circle3">

                </div>
                <div id="other-circle4">

                </div>

            </div>
        </div>
    </section>

    <!--      Time and ImageCard -->
    <section class="timediv-container">
        <div class="timediv-container-div">
            <div class="timediv-container-div-card" data-aos="fade-right">
                <div class="timediv-img">
                    <div>
                        <h2 class="type2"></h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Maxime natus ab consequuntur veniam ullam
                            perspiciatis harum sint modi quis tempora?</p>
                    </div>
                </div>
                <div class="timediv-timeCard" data-aos="fade-right">
                    <div class="timediv-timeCard-imgdiv">
                        <h3>Library Hours</h3>
                    </div>
                    <div class="timediv-timeCard-time">
                        <div>
                            <h5>BCA Department</h5>
                            <p>9:00 AM – 5:00 PM</p>
                        </div>

                        <div>
                            <h5>BSC Depatment</h5>
                            <p>9:00 AM – 5:00 PM</p>
                        </div>

                        <div>
                            <h5>English Depatment</h5>
                            <p>9:00 AM – 5:00 PM</p>
                        </div>

                        <div>
                            <h5>Maths Depatment</h5>
                            <p>9:00 AM – 5:00 PM</p>
                        </div>

                        <div>
                            <h5>Other Depatment</h5>
                            <p>9:00 AM – 5:00 PM</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--  Daily News -->

    <section class="dailyNews-section">

        <div class="news-big-div">

            <!--  -->

            <div class="card-news" data-aos="fade-left">
                <div class="card-news-div1">
                    <img src="../images/studentstudying.jpg" alt="">
                </div>
                <div class="card-news-div2">
                    <div class="card-news-div2-border">

                        <p class="news-text1"> This is the Senopses Heading for
                            News. Do it
                            heare.
                        </p>
                        <h4>This is the Future of Digvijay.</h4>
                        <p class="news-text2">Lorem, ipsum dolor sit amet
                            consectetur
                            adipisicing elit.
                            Ipsam, nihil
                            aliquid illo totam praesentium excepturi corrupti
                        </p><span class="more" onclick="openFunction2()">more</span>
                    </div>
                </div>
            </div>
            <!--  -->

            <div class="card-news" data-aos="fade-right">
                <div class="card-news-div1">
                    <img src="../images/library (1).jpg" alt="">
                </div>
                <div class="card-news-div2">
                    <div class="card-news-div2-border">

                        <p class="news-text1"> This is the Senopses Heading for
                            News. Do it
                            heare.
                        </p>
                        <h4>This is the Future of Digvijay.</h4>
                        <p class="news-text2">Lorem, ipsum dolor sit amet
                            consectetur
                            adipisicing elit.
                            Ipsam, nihil
                            aliquid illo totam praesentium excepturi corrupti
                        </p><span class="more" onclick="openFunction2()">more</span>
                    </div>
                </div>
            </div>
            <!--  -->



        </div>
        <!--  row -->
        <div class="news-big-div">

            <!--  -->
            <div class="card-news" data-aos="fade-left">
                <div class="card-news-div1">
                    <img src="../images/art.jpg" alt="">

                </div>
                <div class="card-news-div2">
                    <div class="card-news-div2-border">

                        <p class="news-text1"> This is the Senopses Heading for
                            News. Do it
                            heare.
                        </p>
                        <h4>This is the Future of Digvijay.</h4>
                        <p class="news-text2">Lorem, ipsum dolor sit amet
                            consectetur
                            adipisicing elit.
                            Ipsam, nihil
                            aliquid illo totam praesentium excepturi corrupti
                        </p><span class="more" onclick="openFunction2()">more</span>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="card-news" data-aos="fade-right">
                <div class="card-news-div1">
                    <img src="../images/dig.png" alt="">

                </div>
                <div class="card-news-div2">
                    <div class="card-news-div2-border">

                        <p class="news-text1"> This is the Senopses Heading for
                            News. Do it
                            heare.
                        </p>
                        <h4>This is the Future of Digvijay.</h4>
                        <p class="news-text2">Lorem, ipsum dolor sit amet
                            consectetur
                            adipisicing elit.
                            Ipsam, nihil
                            aliquid illo totam praesentium excepturi corrupti
                        </p><span class="more" onclick="openFunction2()">more</span>
                    </div>
                </div>
            </div>

            <!--  -->

        </div>


    </section>

    <section class="footer-section">
        <div class="footer-section-maindiv">
            <div>
                <ul>
                    <h5>This is All</h5>
                    <li><a href="">ayush</a></li>
                    <li><a href="">ayushadss</a></li>
                    <li><a href="">ayushfd</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <h5>Result Related</h5>
                    <li><a href="">kingsdfsfd</a> </li>
                    <li><a href="">kingasd</a></li>
                    <li><a href="">kingasdfdfv</a></li>
                    <li><a href="">Surya</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <h5>Information</h5>
                    <li><a href="">Surya</a></li>
                    <li><a href="">Suryasdf</a></li>
                    <li><a href="">Sur</a></li>
                    <li><a href="">Suryadsmkp</a></li>
                    <li><a href="">ayushadss</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <h5>Working stuff</h5>
                    <li><a href="">kingsdlfm</a> </li>
                    <li><a href="">kingdlk</a></li>
                    <li><a href="">king</a></li>
                    <li><a href="">kingsdlkod</a></li>
                </ul>
            </div>
            <div>
                <img src="../images/dig.png" alt="">
            </div>
        </div>

    </section>


















    <!-- search Bar in HomePage -->
    <div class="back-box-black" id="mama"></div>
    <div id="menu" class="sidemenu">
        <span onclick="closeFunction()">×</span>
        <div>
            Search..
        </div>

        <div class="search-btn">
            <input type="text" placeholder="Search Books">
            <button class="btn">Search</button>
        </div>
        <div>
            <ul>
                <li>C Programing</li>
                <li>DBMS</li>
                <li>C++</li>
                <li>HTML</li>
                <li>Maths</li>
            </ul>
        </div>
    </div>

    <!-- news-Dialog -->
    <div id="menu1" class="sidemenu1">
        <span onclick="closeFunction2()">×</span>
        <div class="News-Head">
            Daily News
        </div>

        <div class="news-room-div">
            <img src="../images/back1.jpg" alt="">
            <h2>Title of the News</h2>
            <div class="text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo magnam sequi
                sapiente perspiciatis ea debitis impedit quisquam culpa fugit perferendis dicta
                minus ex repellendus at labore magni corporis dolorem autem porro quod maiores,
                vel neque dolores aliquam! Eius, nisi doloremque. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Molestias quam reprehenderit possimus ullam
                assumenda praesentium! Error ipsum voluptatem eveniet earum necessitatibus,
                voluptate voluptatibus nulla alias architecto. Eos, placeat vero soluta,
                officiis nulla a iure corrupti neque animi debitis unde dolores ipsam similique
                iusto repudiandae nemo ex ratione perspiciatis necessitatibus ducimus? Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Culpa corporis numquam natus,
                nisi deserunt quam. Maxime aliquid blanditiis repudiandae. Distinctio laudantium
                est cupiditate libero quis modi porro? Quidem, qui expedita. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Sint expedita incidunt quo quaerat,
                reiciendis delectus aliquam at maxime. Reiciendis repudiandae saepe facilis
                excepturi, amet iste ex quod nostrum dolorum iusto! Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Esse nostrum neque ullam veritatis illo aliquid
                iusto hic laborum, impedit ex praesentium blanditiis explicabo. Nostrum iusto
                voluptatem cum quod vero possimus?
            </div>
        </div>
    </div>



    <script src="../assets/actions.js"></script>
    <script src="../assets/typed.js"></script>
    <script>
        var typed = new Typed('.type', {
            strings: ['', 'Digvijay Collage Library', 'In Rajnandgaon', 'Chhattisgarh'],
            typeSpeed: 60,
            backSpeed: 60,
            loop: true,
            showCursor: false
        })
        var typed2 = new Typed('.type2', {
            strings: ['', 'This is What we Do. and you cant do Anything.', 'Working From Home', 'ALl is Well'],
            typeSpeed: 60,
            backSpeed: 60,
            loop: true,
            showCursor: false
        })
    </script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 150,
            duration: 1000,
            easing: 'ease',
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>